img{
    width:160px;
}
.btn {
    background-color: #5643fa; /* Button color */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
    width: 150px;
  }
  
  .btn-group {
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50vh;
  }
  
  .btn:hover {
    background-color: #4133c9; /* Button hover color */
}