/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-purple: #49108b;
  --main-white: #f3f8ff;
  --secondary-purple: #7e30e1;
  --secondary-pink: #e26ee5;
}

body,
html {
  height: 100%;
  font-family: "Arial", sans-serif;
}

p {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: grey;
}

/* Container holding the two halves */
.split-container {
  display: flex;
  height: 100vh;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  align-items: center;
  justify-content: center;
}

/* Each half */
.left,
.right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

/* Left side styling */
.left {
  flex: 3;
  background-color: var(--main-purple);
}

/* Right side styling */
.right {
  background-color: var(--main-white);
  color: var(--main-purple);
}

/* Header styling */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Button styling */
.btn {
  background-color: var(--main-purple);
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
  width: 180px;
  height: 45px;
  border: none;
  font-weight: 600;
}

.btn-right {
  background-color: var(--main-white);
  border: 2px solid var(--secondary-purple);
  color: var(--main-purple);
  transition: 0.3s ease-out;
}

.btn-group {
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50vh;
}

.btn:hover {
  background-color: var(--secondary-purple); /* Button hover color */
  color: var(--main-white);
  transition: 0.3s ease-in;
}

.bottom-absolute {
  position: absolute;
  bottom: 15px;
}
.privacy-stuff {
  width: 250px;
}
